 /* ==== variaveis ==== */
 :root {
    --cor-apoio: #E0CDB5;
    --cor-contraste: #FCF2E5;
    --cor-base: #F7EFEA;
    --cor-destaque: #C8A27A;
    --cor-titulo: #5B4033;
    --cor-opicional: #EBD3CA;
    --marrom-claro: #A67C52;
    --sombra-card: rgba(0, 0, 0, 0.08);
    --sombra-car-hover: rgba(0, 0, 0, 0.1);
    --texto-principal: #2E2E2E;
 }
 
 /* ==== Body ==== */
    body {
        background-image: url(./assets/imagemBase.png);
        font-family: 'Barlow', sans-serif;
        color: var(--texto-principal);
        line-height: 1.5;
    }

/* ==== Navbar ==== */
    .offcanvas-title img, .navbar-brand img {
        height: 70px; 
        width: auto;  
    }
    
    .bg-navbar, .offcanvas {
        background-color: var(--cor-base);
        transition: background-color 0.3s ease;
    }

    .nav-link {
        color: var(--cor-titulo);
        font-weight: 600;
    }

    .nav-link:hover {
        color: var(--cor-destaque);
    }

    input[type=checkbox] {
        border: 2px solid var(--marrom-claro);
        box-shadow: none;
        cursor: pointer;
    }

    input[type=checkbox]:checked,
    input[type="checkbox"]:focus {
        background-color: var(--marrom-claro);
        border-color: var(--marrom-claro);
        box-shadow: none;
        outline: none;
    }

/* ==== Banner ==== */
    .banner-1 {
        background-image: url(./assets/banner1.png);
    }

    .banners {
        width: 100%;
        height: 100vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
    }
    
    .banners-titulo {
        --bs-bg-opacity: .7;
        color: var(--texto-principal);
    }

 /* ==== CARDS ==== */
    .card {
        border: none;
        border-radius: 8px;
        box-shadow: 0 4px 8px var(--sombra-card);
        transition: transform 0.2s ease, box-shadow 0.2s ease;
        background-color: var(--cor-opicional);
    }

    .card:hover {
        transform: translateY(-5px);
        box-shadow: 0 6px 12px var(--sombra-car-hover);
    }

    .card-title {
        color: var(--cor-titulo);
    }

/* ==== Botões ==== */

    .botao-padrao,
    .botao-claro {
        background-color: var(--cor-destaque);
        color: var(--texto-principal);
        border: none;
        transition: background-color 0.2s ease;
    }

    .botao-padrao:hover,
    .botao-claro:hover {
        background-color: var(--cor-apoio);
        color: var(--texto-principal);
    }

/* ==== Rodapé ==== */
   
    .footer-custom p {
        background-color: var(--cor-contraste);
        color: var(--texto-principal);
        margin: 0;
        padding-bottom: 1rem;
    }

    @media (max-width: 768px) {
    .banner-1 {
        background-attachment: scroll;
        background-position: center center;
        height: 60vh; 
    }
}